body {
    margin: 0;
    background: url("../img/AluniteBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:  rgb(36, 36, 36); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 1px;
}
.heading {
    height:100vh;
    width: 50%;
    margin-left: 50%;
    background-color: rgb(36, 36, 36);
}
.logocont {
    height: 300px;
    width: 300px;
    position: absolute;
    background: url("../img/AluniteAA.png");
    background-size: cover;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -150px;
    opacity: 1;
}
.title {
    background: url("../img/AluniteBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: 220px;
    margin-left: 200px;
    position: absolute;
    color: white;
    font-size: 50pt;
    font-family: 'Poppins', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25pt;
    margin-top: 420px;
    margin-left: 200px;
    position: absolute;
}
