body {
    margin: 0;
    background: url("../img/AluniteBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:  rgb(36, 36, 36); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 1px;
}
.heading {
    height: 70%;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(36, 36, 36);
    text-align: center;
}
.logocont {
    height: 300px;
    width: 300px;
    position: absolute;
    background: url("../img/AluniteAA.png");
    background-size: cover;
    top: 50%;
    left: 50%;
    margin-top: -380px;
    margin-left: -150px;
    opacity: 1;
    z-index: 1;
}
.title {
    color: white;
    font-size: 50pt;
    margin-top: 150px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
                url("../img/AluniteBG.png") repeat;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
.sub {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 0;
}
.buttonC {
    height: 50px;
    width: 100%;
    display: inline-block;
}
.button {
    height: 95px;
    width: 450px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: rgb(79, 79, 79);
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    transition-duration: 100ms;
}
.buttoni {
    font-size: 20pt;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.buttont {
    font-size: 20pt;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}
#discord:hover {
    background-color: #7289DA;
}
