body {
    margin: 0;
    background: url("../img/AluniteBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:  rgb(36, 36, 36); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 1px;
}
.heading {
    height: 70%;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(36, 36, 36);
    text-align: center;
}
.logocont {
    height: 300px;
    width: 300px;
    position: absolute;
    background: url("../img/AluniteAA.png");
    background-size: cover;
    top: 50%;
    left: 50%;
    margin-top: -380px;
    margin-left: -150px;
    opacity: 1;
    z-index: 1;
}
.title {
    color: white;
    font-size: 50pt;
    margin-top: 150px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
                url("../img/AluniteBG.png") repeat;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
.sub {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 0;
}
/* .button {
    padding: 5px;
    background-color: slateblue;
    font-weight: bolder;
    color: white;
    font-size: 200%;
    border-radius: 10%;
}
.button:hover {
    color: lightcoral;
} */
.dbutt {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    background-color: #49c5b6;
    display: inline-block;
    margin: 0;
    margin-top: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #49c5b6;
    transition-duration: 200ms;

    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    text-align: center;
    line-height: 37px;
}
.dbutt:hover {
    background-color: transparent; 
    border-style: solid;
    border-width: 1px;
    border-color: #49c5b6;
    
    color: #49c5b6;
}
.info {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    background-color: #555;
}